* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header-container {
    color: #fff;
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.header {
    width: 900px; 
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 450px;
    height: auto;
}
img.header {
    width: 400px; 
    height: 267px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 6px 30px; 
    border-radius: 7px; }

.menu-container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: #E5E7EB;
}

.login {
    margin-left: 20px;
}

.heromaintext {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.herosectext {
    font-size: 18px;
    color: #E5E7EB;
}

.date {
    font-size: 24px;
    color: #F9FAF8
}

.photo-grid-container {
    align-items: center;
    padding-bottom: 120px;
  }
  
.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
  }
  
.photo-grid-item {
    width: 210px;
    height: 210px;
    margin: 5px 0px 0px 20px;
  }
  
img.photo {
    width: 100%;
    height: 100%;
}

.wrapper {
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    border: 4px solid #3882F6;
    width: 210px;
    height: 210px;

}
.middle-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-container {
    display: flex;
    padding: 50px ;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #E5E7EB;


}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 100px; }

.call-container {
    display: flex;
    justify-content: center;
}
.blue-box {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 65px 500px;
    display: flex;
    border-radius: 5px; 
    color: white;
}
.call-quote {
    width: 400px;
    line-height: 12px;
}

.button-box {
    width: auto;
    height: auto;
}

.button-two {
    background-color: #3882F6;
    color: white;
    border: solid;
    padding: 5px 35px; 
    border-radius: 7px; }

p.dogs {
    text-align: center;
    font-style: italic;
    font-size: smaller;
}